.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #551A8B;
    color: #551A8B;
}

.pagination_link {
    font-weight: bold;
}

.pagination_link_active a {
    color: #fff;
    background: #551A8B;
}

.pagination_link_disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}