.container{
    // padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    // background-color: darkcyan;
    .login{
        padding: 15px;
        background-color:white;
        border-radius: 4px;
        color:#FD5810;

        h2{
            color:#FD5810;
            margin:5px 0;
        }
        a{
            margin-top: 5px;
            display: inline-block;
            font-size: 15px;
            color: #FD5810;
            
        }
        button{
            width: 100%;
            border: 1px solid #FD5810;
            border-radius: 4px;
            color: #FD5810;
        }
        button:hover{
            background-color: #FD5810;
            color: white !important;
            border: 1px solid #FD5810;
        }
    }
}