.feedback{
    max-width: 500px;

    h2{
        color: #333;
        margin:20px 0;
    }
    button{
        width: 100%;
        display: inline-block;
        height: 35px;
        margin: 10px 0;

    }
}