
body{
  padding: 0;
  margin: 0;
}
button {
  border: 1px solid #FD5810 !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 2px 5px;
  font-size: 15px;
  font-weight: bold;
  color: #FD5810 !important;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  cursor:pointer;
}

button:hover {
  background-color: #FD5810 !important;
  color: white !important;
}
a{
  text-decoration: none;
}
.eventSurveyContainer{
  margin:20px;
  padding:0px 0;
  background-image: url('../assets/image/BlackWeb.jpg');
  background-size: cover;
}

.ant-table-content{
  overflow-x: scroll;
}

.ant-card{
  transition: box-shadow .5s;
}

.fw-bold{
  font-weight: bold;
}