.banner{
    background-image: url('../../assets/image/SelectedTheme.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        max-width: 550px;
        padding: 15px;
        color:White;

        h1{
            font-size: 45px;
        }
        p{
            text-align: justify;
            font-size: 22px;
            // font-weight: bold;
        }
    }
}
/* Extra small device (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .banner{
        .content {
            max-width: 400px;
            // color: #FD5810;
    
            h1 {
                font-size: 40px;
            }
    
            p {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}



///services
.serviceContainer{
    margin:50px 20px 20px;
    padding:0 15px;
    .header{
        display: flex;
        justify-content: space-between;
        margin:10px 0;
        h3{
            color:#222;
            font-size:22px;
        }
        a{
            color: #FD5810;
            border: 1px solid #FD5810;
            padding:5px ;
            border-radius: 4px;
            max-height: 20px;
        }
        a:hover{
            background-color: #FD5810;
            color: white;
        }
    }
    .content{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        row-gap:15px;
        a>div{
            height: 270px;
            transition: .5s;
        }
        a{
            text-align: center;
        }
        img{
            max-width: 96%;
            text-align: center;
            padding: 5px;
            max-height: 150px;
        }
    }
}

@media screen and (max-width: 950px){
    .serviceContainer{
        .content{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (max-width: 767px){
    .serviceContainer{
        .content{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: 500px){
    .serviceContainer{
        .content{
            grid-template-columns: repeat(1, 1fr);
            a{
                margin: auto;
            }
        }
    }
}
//events

.eventSurveyContainer{
    background-image: url('../../assets/image/61901993.jpg');
}
.eventContainer{
    // background-image: url('../../assets/image/#222theme2.jpg');
    // min-height: 400px;
    display: flex;
    align-items: center;
    .events_by_category {
        margin: 20px;
        padding: 20px;
        // border: 1px solid #ccc;
        color:#222;
        // background-color: #f8f8f8;
        border-radius:4px ;

        h2{
            color: #fff;
            text-align: center;
            margin-bottom: 35px;
        }
    }

    .event_list {
        margin: auto;
        display: grid;
        // flex-wrap: wrap;
        grid-template-columns: repeat(4,1fr);

        @media screen and (max-width: 900px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 700px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 450px){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .event_card {
        // background-color: #fff;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        max-width: 270px;
        color: white;

        h3 {
            font-size: 1.2rem;
            margin: 0;
        }

        p {
            margin: 10px 0;
        }
    }
    .event_card:hover {
        // background-color: #FD5810;
        box-shadow: 1px 1px 10px;
        transition:box-shadow .5s;
    }
}


// survey/overview section
/* styles/SurveyOverview.module.scss */
/* styles/SurveyOverview.module.scss */
.survey_overview {
    // background-color: #f8f8f8;
    padding: 20px;
    // border: 1px solid #ccc;
    text-align: center;
    // border-radius: 10px;
    color: white;
    max-width: 800px;
    margin: auto;

    h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: justify;
    }

    .btn_primary {
        margin: 10px 0;
        display: inline-block;
        color: #FD5810;
        transition: 1s;
        border: 1px solid #FD5810;
        padding: 7px 12px;
        font-weight: bold;
        border-radius: 4px;
    }
    .btn_primary:hover {
        background-color: #FD5810;
        color: white;
    }
}

// client review section
/* styles/ClientReviews.module.scss */
.client_reviews {
    // background-color: #f8f8f8;
    padding: 20px;
    // border: 1px solid #ccc;
    text-align: center;
    color:#222;
    margin:25px 0;

    h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .review_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .review_card {
        background-color: #fff;
        margin: 10px;
        padding: 0 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 100px;
        text-align: left;
        transition: 1s;

        p {
            font-size: 1rem;
            // margin-top: 0;
            margin-bottom: 0;
            color: #FD5810;
        }

        .client_name {
            margin-top: 0px;
            font-weight: bold;
            margin-top: 5px;
            color: #222;;
        }
    }
    .review_card:hover{
        box-shadow: 1px 1px 10px #ddd;
        border: 1px solid #fff;
        transition: box-shadow .5s;
    }
    button {
        background-color: #222;
        border-radius: 10px;
        font-size: 15px;
        width: 20px;
        height: 20px;
    }
    button:hover {
        background-color: #222;
        border-radius: 10px;
        font-size: 15px;
        width: 20px;
        height: 20px;
    }
}


//contact option
.contact{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    margin:0;

    li{
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a{
        padding:10px 14px;
        font-size: 25px;
        font-weight: 800;
        border-radius: 4px;
        transition: 1s;
        background-color: #FD5810;
            color: white;
    }
    a:hover{
        color: #FD5810;
        border: 1px solid #FD5810;
        background-color: transparent;
    }

}