.footer{
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    .text{
        color: #666;
    }
    margin-top: 0px;
}